.container {
  position: relative;
}

.content-with-images {
  display: flex;
  justify-content: space-between; /* Ensures the content and images stay separated */
  align-items: flex-start; /* Aligns content to the top */
}

.content {
  flex: 1; /* Takes up the remaining space on the left */
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px; /* Adjusts space between content and images */
}

.eg-image {
  width: 150px; /* Set appropriate size for the images */
  height: 130px;
  margin-bottom: 10px;
  border-radius: 10%; /* Slight rounding for images */
}
.eg-imagegh {
  width: 150px; /* Set appropriate size for the images */
  height: 180px;
  margin-bottom: 10px;
  border-radius: 10%; /* Slight rounding for images */
}

.hover-anim:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

/* Responsive handling */
@media (max-width: 768px) {
  .content-with-images {
    flex-direction: column;
  }
  .images {
    margin-top: 15px;
    margin-left: 0;
  }
}
