.imgpic{
  width: 300px;
  left: 15%;
}

.background-container {
  background-color: rgba(10, 106, 10, 0.4); /* Green with 50% opacity */
  padding: 1rem;
  position: relative;
}

.text-content {
  position: relative;
  z-index: 1; /* Ensure text is above the background */
  color: black;
  font-weight: 650;
}


.row1{
  position: relative;
}

.main-row{
  position: absolute;
  left: 100px;
  top: 120px;
}

.media{
  margin-top: 100px;
}

.main{
  overflow: hidden;
}

.imgtextalign{
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 600px) {
  .imgpic{
    width: 150px;
  }

  .imgpicalign{
    width: 65%;
  }

  .imgtextalign{
    margin-top: 20px;
    left: 10px;
    width: 85%;
  }

  .media{
    display: grid;
  }
}