.home{
  margin-top: 76px;
  overflow: hidden;
}

.btn{
  background: #4ea9b7;
}

.btnhover:hover{
  background: #285860 !important;
}

.size-image {
  width: 250px;
  border: 10px solid white;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.img-div{
  position: relative;
  top: 230px;
}

.images-top{
  background-color: black;
  position: relative;
  z-index: 2;
}

#contact{
  margin-top: 100px;
}

.logo{
  position: absolute;
  background: linear-gradient(to bottom right, rgba(0, 6, 128, 0.3), rgba(128, 128, 128, 0.25));
  color: whitesmoke;
}

.col-logo{
  padding-right: 0;
  padding-left: 48px;
}

.logo-img{
  align-items: center;
  opacity: 100% !important;
}

.clinic{
  font-size: 60px;
  -webkit-text-stroke: 1px black; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.add{
  font-size: 30px;
  -webkit-text-stroke: 0px black; 
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .clinic {
    font-size: 26.5px; /* Smaller text size for mobile */
    top: 20%;
  }

  .add {
    font-size: 11px; /* Adjust additional text to fit smaller screen */
  }

  .logo {
    background: linear-gradient(to bottom right, rgba(0, 128, 0, 0.5), rgba(128, 128, 128, 0.5)); /* Increase transparency for better mobile visibility */
    font-size: 20px;
  }

  .images-top {
    padding: 0; /* Add padding for smaller screens */
  }

  .logoS{
    width: 120px;
    margin-top: 32px;
    margin-left: -20px;
  }

  .img-main{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .col-img{
    display: none;
  }

  .logo-img{
    margin-top: 50px;
    margin-left: 2px;
  }
}