.top-bar {
  background-color: #0e578c;
  color: whitesmoke;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  z-index: 1001; /* Ensure it sits above the navbar */
}

.top-bar span {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .top-bar {
    font-size: 12px;
    text-align: left;
    padding: 10px;
  }
}

.nodec{
  text-decoration: none;
  color: white;
}
.nodec:hover{
  color: white;
}

.navbar{
  padding: 3px;
  min-height: 69px;
  z-index: 1000;
  opacity: 97%;
  background: #1669A6;
  position: fixed;
  top: 30px;
}

.btn{
  background: #4A90E2 !important;
}

.dropdown{
  cursor: pointer;
}

.navbar a,
.dropdown-toggle,
.dropdown {
  color: whitesmoke;
  text-decoration: none; /* Remove underline for better styling */
  transition: text-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-brand {
  color: whitesmoke !important; /* Set the desired default color */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
  z-index: 100000;
}

.navbar-brand:hover {
  color: whitesmoke !important; /* Keep the same color on hover */
  text-shadow: none !important; /* Ensure no text shadow on hover */
  cursor: pointer;
}

.logo-size{
  height: 50px;
  border-radius: 50%;
  margin-right: 7px;
}

.navbar a:hover{
  cursor: pointer;
}

.navbar a:hover:not(.navbar-brand) {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 4); /* Apply shadow effect only to non-brand links */
}

.dropdown-toggle:hover {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 4); /* Shadow effect on hover for other nav links */
}

.dropdown-menu{
  background: #3378c7;
}

.dropdown-menu a:hover{
  background: inherit;
  text-decoration: none;
}

.menu a {
  position: relative;
  display: block;
  padding: 5px;
  padding-bottom: 1px;
}

.menu {
  display: flex;
  justify-content: flex-end; /* Ensure items are aligned to the right */
  align-items: center; /* Center items vertically */
}

.menu li {
  margin-right: 8px; /* Spacing between the list items */
}

.menu a::before,
.dropdown::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5.5%;
  width: 90%;
  height: 2px;
  /* background: linear-gradient(to right, #eaddf0, #e1e44c, #eb85ab); */
  background: white;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}

.menu a:hover::before,
.dropdown:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1203.5px) {
  .navbar{
    top: 50px;
  }
}

@media (max-width: 552.5px) {
  .navbar{
    top: 69px;
  }
}

@media (max-width: 396.5px) {
  .navbar{
    top: 91px;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Stack items in a column */
    align-items: center;    /* Center items */
  }
  
  .menu li {
    margin-right: 0;       /* Remove right margin for stacked layout */
    margin-bottom: 10px;   /* Optional: Add space between items */
  }
}

.back:hover{
  transform: scale(1.06);
}

.nodec{
  text-decoration: none;
  color: white;
}
.nodec:hover{
  color: white;
}