.navbar{
  padding: 10px 5px;
  min-height: 76px;
  z-index: 1000;
  opacity: 97%;
  background: #4A90E2;
}

.btn{
  background: #4A90E2 !important;
}

.dropdown{
  cursor: pointer;
}

.navbar a,
.dropdown-toggle,
.dropdown {
  color: whitesmoke;
  text-decoration: none; /* Remove underline for better styling */
  transition: text-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.navbar a:hover,
.dropdown-toggle:hover {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 4); /* Shadow effect on hover */
}

.dropdown-menu{
  background: #2f6972;
}

.dropdown-menu a:hover{
  background: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure menu items are vertically centered */
}

.menu a {
  position: relative;
  display: block;
  padding: 5px;
  padding-bottom: 1px;
}

.menu li{
  margin-right: 40px;
}

.menu a::before,
.dropdown::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5.5%;
  width: 90%;
  height: 2px;
  /* background: linear-gradient(to right, #eaddf0, #e1e44c, #eb85ab); */
  background: white;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}

.menu a:hover::before,
.dropdown:hover::before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Stack items in a column */
    align-items: center;    /* Center items */
  }
  
  .menu li {
    margin-right: 0;       /* Remove right margin for stacked layout */
    margin-bottom: 10px;   /* Optional: Add space between items */
  }
}
