.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      /* opacity: 0; */
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      /* animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards; */
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    background: inherit;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    background: inherit;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }
}

.btnhover:hover{
  background: #285860 !important;
}

@media only screen and (max-width: 600px) {
  .contact-form{
    width: 320px;
  }
}

.contactqr{
  max-width: 200px;
}

.map-wrap {
  width: 100%;
  height: 300px;
  margin-top: 0;
  position: relative; /* Ensure it stays within its bounds */
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1; /* Makes sure it's on top of other elements */
  position: relative;
}

.contact-page {
  position: relative; /* Ensure no other content overlaps */
  overflow: hidden; /* Prevents content from breaking the layout */
}


@media screen and (max-width: 1200px) {
  .map-wrap {
    float: none;
    margin: 0;
    width: 100%;
    height: 400px;
  }
}

/* .info-map {
  position: absolute;
  background: #000;
  z-index: 999999;
  padding: 20px;
  color: black;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;

  span {
    font-size: 16px;

    span {
      color: #ffd700;
    }
  }
} */