.site-footer {
  background: 
    linear-gradient(rgba(22, 101, 192, 0.85), rgba(22, 101, 192, 0.85)), /* Semi-transparent blue overlay */
    url('../../assets/healthcare.jpg') no-repeat center center; /* Background image */
  background-size: cover;
  padding: 30px 20px;
  color: whitesmoke;
  font-size: 17px;
  position: relative; /* Ensures content positions properly */
  opacity: 96%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.nolink{
  text-decoration: none;
}

.logo{
  height: 120px;
  width: 120px;
  border: 2px black;
  border-radius: 50%;
  margin-left: 25%;
}
h4{
  margin-left: 8.5%;
}
.text-justify {
  text-align: justify;
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.nodec{
  text-decoration: none;
  color: white;
}
.nodec:hover{
  color: white;
}

.contact li {
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}

.social-icon li {
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}

.social-icon:hover li:not(:hover) {
  opacity: 0.65;
}

.social-icon-link {
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: white;
}

.list-group-item {
  background-color: transparent;
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding: 1rem 0;
}

.list-group-item:first-child {
  padding-top: 0;
}

.list-group-item span {
  font-weight: var(--font-weight-semibold);
  margin-left: auto;
}

.containerfooter{
  margin: 16px 40px;
}

@media only screen and (max-width: 600px) {
  .footer{
    display: grid;
  }

  .containerfooter{
    margin: 0px 10px;
    padding-left: 2px;
  }
}

/* Map */
.map-wrap {
  width: 100%;
  height: 300px;
  margin-top: 0;
  position: relative; /* Ensure it stays within its bounds */
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1; /* Makes sure it's on top of other elements */
  position: relative;
}

.contact-page {
  position: relative; /* Ensure no other content overlaps */
  overflow: hidden; /* Prevents content from breaking the layout */
}

.bg-image{
  z-index: -3;
}