.blogsc{
  margin-top: 150px;
  padding: 20px;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #007b5e;
}

.blog-post {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.75rem;
  color: #007b5e;
  margin-bottom: 10px;
}

.post-date {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 15px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post-content {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.read-more {
  font-size: 1rem;
  color: #007b5e;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}
